<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.scientific_research.mapper.EtMapper">
  <resultMap id="BaseResultMap" type="com.zxy.scientific_research.bean.Et">
    <id column="etno" jdbcType="INTEGER" property="etno" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="tno" jdbcType="VARCHAR" property="tno" />
  </resultMap>
  <sql id="Base_Column_List">
    etno, eno, tno
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from et
    where etno = #{etno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from et
    where etno = #{etno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxy.scientific_research.bean.Et">
    insert into et (etno, eno, tno
      )
    values (#{etno,jdbcType=INTEGER}, #{eno,jdbcType=VARCHAR}, #{tno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxy.scientific_research.bean.Et">
    insert into et
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="etno != null">
        etno,
      </if>
      <if test="eno != null">
        eno,
      </if>
      <if test="tno != null">
        tno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="etno != null">
        #{etno,jdbcType=INTEGER},
      </if>
      <if test="eno != null">
        #{eno,jdbcType=VARCHAR},
      </if>
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxy.scientific_research.bean.Et">
    update et
    <set>
      <if test="eno != null">
        eno = #{eno,jdbcType=VARCHAR},
      </if>
      <if test="tno != null">
        tno = #{tno,jdbcType=VARCHAR},
      </if>
    </set>
    where etno = #{etno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxy.scientific_research.bean.Et">
    update et
    set eno = #{eno,jdbcType=VARCHAR},
      tno = #{tno,jdbcType=VARCHAR}
    where etno = #{etno,jdbcType=INTEGER}
  </update>

  <!---->
  <select id="selectByEnoAndTno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from et
    where eno = #{eno,jdbcType=VARCHAR} and tno = #{tno,jdbcType=VARCHAR}
  </select>

  <!--根据教师查询论文-->
  <select id="findsListByTno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from et
    where tno = #{tno,jdbcType=VARCHAR}
  </select>

  <!--根据论文查询教师-->
  <select id="findsListByEno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from et
    where eno = #{eno,jdbcType=VARCHAR}
  </select>

  <!--根据eno删除对应教师与论文的对应关系-->
  <delete id="deleteByEno" parameterType="java.lang.String">
    delete from et
    where eno = #{eno,jdbcType=VARCHAR}
  </delete>

  <!--根据tno删除对应教师与论文的对应关系-->
  <delete id="deleteByTno" parameterType="java.lang.String">
    delete from et
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
</mapper>